All Jobs for <strong><%= @company.name %></strong>

<% @jobs.each do |job| %>
  <ul>
    <li><%= link_to job.title, job_path(job) %> at <%= job.company.name %></li>
    <p><%= link_to 'Edit', edit_job_path(job) %></p>
    <p><%= link_to 'Delete', job_path(job), method: :delete, data: {confirm: "Really delete the job?"} %></p>
  </ul>
<% end %>

<h3>Contacts:</h3>
<%= render partial: 'companies/contact', collection: @company.contacts %>
<%= render partial: 'contacts/form' %>
