Title: <%= @job.title %>
<br>

Category: <%= @category.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %>

<%= link_to "Delete", job_path(@job), method: :delete, data: {confirm: "Really delete the job?"} %>

<h3>Comments</h3>
<%= render partial: 'jobs/comment', collection: @job.comments.reverse %>
<%= render partial: 'comments/form' %>
