<div class='job'>
  <ul>
    <li>
      Title: <%= @job.title %>
    </li>
    <li>
      Category: <%= @job.category.title %>
    </li>
    <li>
      Description: <%= @job.description %>
    </li>
    <li>
      Level of Interest: <%= @job.level_of_interest %>
    </li>
    <li>
      City: <%= @job.city %>
    </li>
  </ul>

  <p>Company: <%= link_to @job.company.name, company_path(@job.company) %></p>

  <%= link_to "Edit", edit_job_path(@job)%>
  <%= link_to "Delete", job_path(@job), method: :delete, data: {confirm: "Really delete the job?"} %>

  <h3>Comments</h3>
  <%= render partial: 'jobs/comment', collection: @job.comments.reverse %>
  <%= render partial: 'comments/form' %>
</div>
